* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	height: 100vh;
	background-color: rgb(17, 107, 251);
	font-family: sans-serif;
}

.score {
	color: rgb(224, 224, 224);
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.score h2 {
	font-size: 30px;
}
.score p {
	text-align: center;
	padding: 10px;
	font-size: 25px;
}

.intro {
	color: rgb(224, 224, 224);
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.intro h1 {
	font-size: 50px;
}
.intro button,
.match button {
	width: 150px;
	height: 50px;
	background: none;
	border: none;
	color: rgb(224, 224, 224);
	font-size: 20px;
	background: rgb(4, 0, 255);
	border-radius: 3px;
}

.match {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.winner {
	color: rgb(224, 224, 224);
	text-align: center;
	font-size: 50px;
}
.hands,
.options {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.player-hand {
	transform: rotatey(180deg);
}
